<html>
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/jquery.fullpage/2.9.3/jquery.fullpage.min.css" rel="stylesheet" />
  <link href="./assets/main.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <body>

    <div id="header">
      <div class="title">E-commerce lookbook demo</div>
      Powered by <a href="https://snipcart.com">Snipcart</a>, <a href="https://getdirectus.com/">Directus</a>, & <a href="http://www.metalsmith.io/">Metalsmith.</a>
    </div>

    {{{ contents }}}

    <div id="footer">
      Lifestyle pictures from <a href="https://unsplash.com/"> Unsplash </a>
      <div class="notice">
          Women photos by <a href="http://www.brookecagledesign.com/">Brooke Cagle.</a>
          Men photos by <a href="http://www.clemono.com"> Clem Onojeghuo.</a>
      </div>
    </div>

  </div>

  </body>
</html>
